button {
  background-color: #4d5ae5;
  color: white;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  display: block;
}

.button:hover {
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

h1 {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-start {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo-web {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-nav {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.feature-sub {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.feature-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------LINK--------*/

.link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-adress {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.3em;
  font-style: normal;
}

.link:hover {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.02em;
}

.link-adress:hover {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------------------------*/
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}

.logo-fter {
  color: var(--CLOUD, #f4f4fd);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
